[Desktop Entry]
Name=BixChat
Comment=BixChat Application
Exec=/opt/BixChat/bixchat
Icon=/opt/BixChat/resources/app/icon.png
Terminal=false
Type=Application
Categories=Network;Chat;
StartupWMClass=bixchat